1. Write a function to calculate the sum of digits in a number entered by user.



*eg: If the number user entered is 555 then the sum is 5+5+5 = 15*

In [ ]:
def sum_of_digits():
  n = int(input("Enter a number: "))
  sum = 0
  while n>0:
    sum = sum + n%10
    n = n//10
  print("Sum of digits is: ", sum)
sum_of_digits()

Enter a number: 678
Sum of digits is:  21

2. Create a list "mylist" that contains integer numbers, float numbers, and strings.

Now write a function that creates a dictionary with each data types and its counts.

if the list is mylist = [1, 7, 15, 25, 1.5, 55.8, "Arun", "Akhil", "Akshay"],

then the dictionary will have {"integer numbers": 4, "floating numbers":2, "Strings": 3}

In [ ]:
mylists = [2.3,4,5,3,5.6,7.2,"Ash","Riya","Akash"]

In [ ]:
def count(mylists):
  integers = 0
  floats = 0
  strings = 0
  for i in mylists:
    if type(i) == int:
      integers += 1
    elif type(i) == float:
      floats += 1
    elif type(i) == str:
      strings += 1
  return {"integers": integers, "floats": floats, "strings": strings}

print(count(mylists))

{'integers': 3, 'floats': 3, 'strings': 3}

3. Write a function that takes a list of numbers and returns a dictionary with 'sum', 'average', 'max', and 'min' values of the list.

In [ ]:
l = [4,3,5,7,8,10,12]

In [ ]:
sum = 0
average = 0
max = l[0]
min = l[0]
for i in l:
  sum = sum +i
  if max < i:
    max = i
  if min > i:
    min = i
average = sum/len(l)
return_dict = {"sum": sum, "average": average, "max": max, "min": min}
print(return_dict)

{'sum': 49, 'average': 7.0, 'max': 12, 'min': 3}

4. Create a function that takes a string and returns a dictionary with counts of vowels and consonants.

In [ ]:
def counts(strings):
  vowels = "aeiouAEIOU"

  consonants = 0
  vowel_count = 0
  for char in strings:
    if char in vowels:
      vowel_count += 1
    else:
      consonants += 1
  return {"vowels": vowel_count, "consonants": consonants}
print(counts("Afhyjoi"))

{'vowels': 3, 'consonants': 4}

5. Write a function that checks if a number is a strong number

In [ ]:
n = int(input("Enter a number: "))
strong = n
sum = 0
while n>0:
  r = n%10
  f = 1
  for i in range (1,r+1):
    f = f*i
  sum = sum + f
  n = n//10
if (strong==sum):
  print("The number is strong")
else:
  print("The number is not strong")

Enter a number: 23
The number is not strong

FILE HANDLING

* Create a new file 'notes.txt' and write 3 lines to it.
* Read it line by line and print only lines containing 'Python'.
* Append one new line and display the final content.
* Use with open() to safely handle file.

In [1]:
with open ('notes.txt','w') as f:
  f.write("I am learning Python.\n")
  f.write("Python is a programming language.\n")
  f.write("It is easy to learn.\n")

In [2]:
with open('notes.txt','r') as f:
  lines = f.readlines()
  for line in lines:
    if 'Python' in line:
      print(line)

I am learning Python.

Python is a programming language.

In [3]:
new = "It is a high level language."
with open('notes.txt','r') as f :
  content = f.read()
if new not in content :
  with open('notes.txt','a') as f:
    f.write(new + "\n")

In [4]:
with open('notes.txt','r') as f:
  print("\nFinal content of the file:")
  print(f.read())

Final content of the file:
I am learning Python.
Python is a programming language.
It is easy to learn.
It is a high level language.

EXCEPTION HANDLING


1️.Write a program to handle division by zero when dividing two numbers.

2️.Handle both ValueError and ZeroDivisionError during user input.

3.Use else and finally to print messages when operations succeed and files close.

In [5]:
try:
  n1 = float(input("Enter numberator : "))
  n2 = float(input(" Enter the denominator: "))
  result = n1/n2
  print ("Result :",result)
except ValueError:
  print("Enter a valid number")
except ZeroDivisionError:
  print("Cannot divide by zero")
else :
  print("Division successful!")
finally:
  print("Program finished.File or resources closed(if any).")

Enter numberator : 3
 Enter the denominator: 5
Result : 0.6
Division successful!
Program finished.File or resources closed(if any).

MODULES AND PACKAGES



1️ Create a new module called 'calculator.py' with add(), subtract(), multiply().

2️ Import and use it in this notebook.

3️ Explore dir(random) to see available functions.

4️ Create a package called 'utils' with two modules:
    - strings.py → count_words(text)
    - numbers.py → factorial(n)

In [6]:
import calculator

print ( "Addition: ",calculator.add(2,3))
print ("subtraction : ",calculator.subtract(4,3))
print ("multiplication: ",calculator.multiply(2,6))

Addition:  5
subtraction :  1
multiplication:  12

In [ ]:
import random
print(dir(random))

['BPF', 'LOG4', 'NV_MAGICCONST', 'RECIP_BPF', 'Random', 'SG_MAGICCONST', 'SystemRandom', 'TWOPI', '_ONE', '_Sequence', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_accumulate', '_acos', '_bisect', '_ceil', '_cos', '_e', '_exp', '_fabs', '_floor', '_index', '_inst', '_isfinite', '_lgamma', '_log', '_log2', '_os', '_pi', '_random', '_repeat', '_sha512', '_sin', '_sqrt', '_test', '_test_generator', '_urandom', '_warn', 'betavariate', 'binomialvariate', 'choice', 'choices', 'expovariate', 'gammavariate', 'gauss', 'getrandbits', 'getstate', 'lognormvariate', 'normalvariate', 'paretovariate', 'randbytes', 'randint', 'random', 'randrange', 'sample', 'seed', 'setstate', 'shuffle', 'triangular', 'uniform', 'vonmisesvariate', 'weibullvariate']

In [ ]:
print(random.randint(1,10))

7

In [7]:
from utils import strings,numbers
t = "Python is simple"
print("Word count: ",strings.count_words(t))

n=10
print("is even : ",numbers.is_even(n))

Word count:  3
is even :  True

NUMPY AND PANDAS

Questions?

1. What was the maximum temparature in new york in the month of january?

2. On which days did it rains?

3. What was the average speed of wind during the month?

In [ ]:
import pandas as pd
df = pd.read_csv("/content/nyc_weather.csv")
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [ ]:
max_temp = df['Temperature'].max()
print("Max temperature :",max_temp)

Max temperature : 50

In [ ]:
rain = df['EST'][df['Events'] == 'Rain']
print("\nDays with rain : ",)
print(rain)

Days with rain :
8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [ ]:
avg_speed = df['WindSpeedMPH'].mean()
print("Average wind speed: ")
print(avg_speed)

Average wind speed:
6.892857142857143